

#post-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.post{
    background-color: blue;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    color: white;
    margin: 10px;
}

.post h2{
    font-size: 30px;
    font-weight: bolder;
}
.post h4{
    font-size: 25px;
    font-weight: bolder;
}

@media  screen and (max-width: 568px) {
    #post-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}